@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:'all';
  src: url("../../public/fonte/All Star Resort.ttf");
}
:root {
 
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: black;
  color: crimson;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    background-color: black;
    color: crimson;
  }
}

body {
  border-bottom: black;
  background-color: black;
  color: crimson;
<<<<<<< HEAD
 
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
=======
font-family: 'all';

    


}

p{
  margin:auto;;
  padding: auto;
  font-family: 'all';
 
  text-align: left;
}
h1{
  color: darkgoldenrod;
  margin: 5px;
  
}
h2{
  color: darkgoldenrod;
  margin: 5px;
  
}
h3{
  color: darkgoldenrod;
  margin: 8px;
  
>>>>>>> 064ac0ee79ad175419c983aea00804f0a012dec2
}
    title{
      font-family: "../../public/fonte/All Star Resort.ttf";
      background-color: aqua;
      color: blue;   
      text-align: left;
  }
  nav#menu{text-transform:uppercase;
     
      display: flex;
      background-color: blue;
            text-align: left;
            
      
  }
  nav#menu :hover{background-color: aqua;transition:all; display: none;}
  div#interface{width: 500px;margin: 10px auto auto;box-shadow:10px 10px 10px 10px palegreen;padding: 10px; }
  div#icone{position:absolute;left: 50px;top: 20px;padding: 20px;}

<<<<<<< HEAD
#tabela{ color: blanchedalmond;border: green;border: 10px solid goldenrod;margin:auto ;width: auto;text-align: justify; }
#tabela2{ color: blanchedalmond;border: green;border: 10px solid goldenrod;margin:auto ;width: auto;text-align: center;}
#obs{ color:purple 10px solid blanchedalmond;margin:auto ;width: auto;text-align:justify;}
=======
footer{
  margin: auto;
  color: gold;
  text-align: center;
}
>>>>>>> 064ac0ee79ad175419c983aea00804f0a012dec2
