@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: black;
  color: crimson;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    background-color: black;
    color: crimson;
  }
}

body {
  border-bottom: black;
  background-color: black;
  color: crimson;

 
    
   
}
    title{
      background-color: black;
      color: blue;   
  }
  nav#menu{text-transform:uppercase;
      padding:10px ;
      display: block;
      background-color: blue;
      
  }
  nav#menu :hover{background-color: aqua;transition:all; display: none;}
  div#interface{width: 500px;margin: 10px auto auto;box-shadow:10px 10px 10px 10px palegreen;padding: 10px; }
  div#icone{position:absolute;left: 50px;top: 20px;padding: 20px;}

